#container{
    border: 1px solid gray;
    width: 500px;
    padding: 10px;
    margin: 20px auto;
}
ul{
    list-style-type: none;
}
li{
    line-height: 2.0;
}
.subject{
    color: brown;
    font-weight: 700;
    font-size: large;
}