ul{
    list-style-type: none;
}
li{
    margin: 10px;
}
input[type=text], input[type=email], input[type=tel]{
    width: 300px;
}
#shipping li label{
    width: 80px;
    text-align: left;
    float: left;
}
input[type=number]{
    width: 30px;
    margin-left: 10px;
    text-align: left;
}

fieldset legend{
    font-weight: bold;
}
input[type=submit], input[type=reset]{
    border: 1px solid #ccc;
    width: 150px;
    height: 40px;
    background-color: #fafafa;
    box-shadow: 1px 1px 1px #ccc;
    text-align: center;
}
input[type=submit]{
    margin-right: 60px;
}
#button-area{
    margin-top: 20px;
    text-align: center;
}